*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 55vw;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 0px rgb(88, 86, 86);
}

h2{
    text-align: center;
    color: darkblue;
    font-size: 35px;
}

input{
    padding: .7rem;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 2rem;
    cursor: pointer;
    width: 100%;
    border: 1px solid  black;
}
label{
    font-weight: 30px;
    margin: 0 0 .3rem 0;
    margin-top: 30px;
}
p{
   color: darkgray;
   font-weight: 10px;
}

h2{
    text-align: center;
    color: darkblue;
    font-size: 35px;
}
.one{
    display:flex;
    justify-content: space-between;
    padding: 50px;
}
.btn{
    width: 40%;
    background-color: darkblue;
    color: white;
}